.Card {
  width: 265px;
  font-size: 14px;
  text-align: left;
  margin-top: 30px;
  cursor: pointer;
}

.Card:hover {
  opacity: 0.7;
}

.Card__title {
  font-weight: 700;
  width: 80%;
  margin: 0;
  margin: 5px 0;
}

.Card__date {
  color: #767676;
  width: 80%;
  margin: 0;
  margin-bottom: 10px;
}

.Card__episode {
  color: #2c2c2c;
  width: 80%;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 15px;
}
